@charset "UTF-8";
body{
	padding: 0;
	margin: 0;
	font-family:  "微軟正黑體";
	text-decoration: none;
}
.indexbody{
	background-image: url('./image/banner.jpg');
	height: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}
h4{
}
.header{
	top: 0%;
	height: 60px;
	background-color: rgb(30,172,197) ; 
	display: inline-block;
	width : 100%;
	position: fixed;
}

.header_button{
	background-color: rgb(226,100,26) ; 
	display: inline;
	float: right;
	border-radius: 10px;
	padding :  10px;
	width: 120px;
	text-align: center;
	margin: 5px 10px;
	font-size: 12px;
	top: 10px;
	position: relative;
	text-decoration: none;
	color: white;
}

.index_banner{
	display: inline-block;
	width : 100%;
	height: 60%;
}



.sel_board{
	background-color: rgba(226,100,26,0.9) ; 
	display: inline-block;
	border-radius: 10px;
	padding :  60px;
	width: 200px;
	text-align: center;
	margin: 5px 10px;
	font-size: 26px;
	text-decoration: none;
	color: white;
	float: right;
	position: relative;
  top: 270px;
}
.sel_board ::hover{
	background-color: rgba(226,100,26,1) ; 

}

table{
  border-collapse: collapse;
  width: 90%;
}

td, th {
  border: 1px solid #ddd;
  padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2;}

tr:hover {background-color: #ddd;}

th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: rgb(30, 172, 197);
  color: white;
}

.profile_body{
	padding-top: 100px;
	width: 100%;
	top: 100px;
}

.league_card{
	width: 700px;
	height: 400px;
}

.team_pic{
	width: 700px;
	height: 400px;
}


input[type=text], select {
  width: 30%;
  padding: 5px 10px;
  margin: 5px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}


input[type=password]{
  width: 30%;
  padding: 5px 10px;
  margin: 5px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;

}

input[type=submit] {
  width: 200px;
  background-color: rgb(30, 172, 197);
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}
.up_body{
	padding-top: 80px;
	width: 100%;
	top: 100px;
}
.up_carte {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}
.up_pwd{
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

.up_card{
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;	
}

.gp_body{
	padding-top: 60px;
	width: 100%;
	top: 100px;
}

.tg_body{
	padding-top: 60px;
	width: 100%;
	top: 100px;
}

.ts_body{
	padding-top: 60px;
	width: 100%;
	top: 100px;
}
.rs_body{
	padding-top: 60px;
	width: 100%;
	top: 100px;
}
.up_team{
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;	
}

.article_form{
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;	
}